<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wj.test">

    <!-- 上网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".util.NApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主界面 -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 底部弹出框 -->
        <activity android:name=".activity.BottomSheetDialogActivity"/>
        <!-- 自定义侧滑菜单 -->
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 系统侧滑菜单 -->
        <activity
            android:name=".activity.NavigationViewActivity"
            android:label="@string/title_activity_navigation_view"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 调色板 -->
        <activity
            android:name=".activity.PaletteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 底部导航栏 -->
        <activity
            android:name=".activity.BottomNavigationViewActivity"
            android:label="@string/title_activity_bottom_navigation_view"/>
        <!-- 日期和时间选择器 -->
        <activity android:name=".activity.DateAndTimeActivity"/>
        <!-- SpannableString给TextView增加趣味 -->
        <activity android:name=".activity.SpannableStringActivity"/>
        <!-- 动画 -->
        <activity android:name=".activity.AnimationActivity"/>
        <!-- 自定义view -->
        <activity android:name=".activity.CircleViewActivity"/>
        <activity android:name=".activity.ConstraintLayoutActivity"/>
        <!--zi-->
        <activity android:name=".activity.CustomWidgetActivity">
        </activity>
    </application>

</manifest>