<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wj.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主界面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 底部弹出框 -->
        <activity android:name=".BottomSheetDialogActivity" />
        <!-- 自定义侧滑菜单 -->
        <activity
            android:name=".DrawerLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 系统侧滑菜单 -->
        <activity
            android:name=".NavigationViewActivity"
            android:label="@string/title_activity_navigation_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 调色板 -->
        <activity
            android:name=".PaletteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BottomNavigationViewActivity"
            android:label="@string/title_activity_bottom_navigation_view" />
    </application>

</manifest>